@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Welcome to Gaming Zone Management</h1>

    <br />

    <a href="/Auth/Login" class="btn btn-primary">Login</a>

    <a href="/Auth/Registration" class="btn btn-success">Registration</a>

</div>
