<h1>User Dashboard</h1>

<h3>Welcome @ViewBag.Uname</h3>

<h4>Role : @ViewBag.Role</h4>

<a href="/Auth/EditProfile" class="btn btn-warning">Edit Profile</a>

<a href="/Auth/Logout" class="btn btn-danger">Logout</a>

<a href="/Booking/Available" class="btn btn-primary">Find Available Setup</a>